body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: black;
    color: #00e600;
    font-size: 40pt;
}

movieNameStyle{
    color: lightcoral;
    text-shadow: -2px -2px pink;
    font-size: 35pt;
    font-family: Cabin, Helvetica, Arial, sans-serif;
}

movieYearStyle{
    color: darkcyan;
    text-shadow: -2px -2px aqua;
    font-size: 35pt;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}